<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.sc.supplyChainManagementMapper">
	
	<!-- =========================== 수주관리 메인 ========================================== -->
	<!-- 수주관리 메인 목록조회 -->
	<select id="scmUpvoteYnLst" resultType="SupplyChainManagementVo">
		<![CDATA[
		{
			call sp_sc_scmUpvoteYnLst(
				#{orderDtlNo},
				#{startDate},
				#{endDate},
				#{deliveryYn},
				#{dealCorpIdx}
			)
		}
		]]>
	</select>
	
	<select id="scmFileLst" resultType="SupplyChainManagementVo">
		<![CDATA[
		{
			call sp_sc_scmFileLst(
				#{orderDtlNo},
				#{orderDtlSeq}
			)
		}
		]]>
	</select>
	
	<!-- 수주관리 메인 상세조회 -->
	<select id="scmDeliveryYnUpd" resultType="SupplyChainManagementVo">
		<![CDATA[
		{
			call sp_sc_scmDeliveryYnUpd(
				#{orderDtlNo},
				#{orderDtlSeq},
				#{deliveryYn},
				#{importInspection},
				#{returnYn},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</select>
	
	<!-- 수주관리 메인 등록 -->
	<insert id="planFileIns" statementType="CALLABLE" parameterType="SupplyChainManagementVo">
		<![CDATA[
		{
			call sp_sc_scmFileIUD(
				#{orderDtlNo},
				#{orderDtlSeq},
				#{reportUuid},
				#{reports},
				#{planUuid},
				#{floorPlan}
			)
		}
		]]>
	</insert>
	
	<!-- 수주관리 메인 등록 -->
	<insert id="reportFileIns" statementType="CALLABLE" parameterType="SupplyChainManagementVo">
		<![CDATA[
		{
			call sp_sc_scmFileIUD(
				#{orderDtlNo},
				#{orderDtlSeq},
				#{reportUuid},
				#{reports},
				#{planUuid},
				#{floorPlan}
			)
		}
		]]>
	</insert>
	
</mapper>
