<?xml version="1.0" encoding="UTF-8"?>
<Configuration  level="INFO">
	<Properties>
		<Property name="layoutPattern">[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5p] %C{1}.%M(%F:%L) %m%n</Property>
	</Properties>

	<Appenders>
		<!-- console print -->
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5p] %C.%M(%F:%L) %m%n" />
		</Console>

		<!-- INFO print -->
		<RollingFile name="rollingFile" fileName="/data/tomcat/tomcat_changyoung-real/logs/all.log" filePattern="/data/tomcat/tomcat_changyoung-real/logs/web_%d{yyyyMMdd}.log">
			<PatternLayout pattern="${layoutPattern}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="100MB" />
			</Policies>
			<DefaultRolloverStrategy max="50" fileIndex="min" />
		</RollingFile>

		<!-- ERROR print -->
		<RollingFile name="errorFile" fileName="/data/tomcat/tomcat_changyoung-real/logs/error.log" filePattern="/data/tomcat/tomcat_changyoung-real/logs/error_%d{yyyyMMdd}.log">
			<PatternLayout pattern="${layoutPattern}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="100MB" />
			</Policies>
			<ThresholdFilter level="ERROR"/>
			<!--
			<LevelRangeFilter minLevel="DEBUG" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
			-->
			<DefaultRolloverStrategy max="50" fileIndex="min" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<!-- sprint core START-->
		<Logger name="org.springframework.jdbc.datasource" level="WARN" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>
		<Logger name="org.mybatis.spring.transaction" level="WARN" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>

		<Logger name="org.springframework.core" level="INFO" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>
		<Logger name="org.springframework.beans" level="INFO" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>
		<Logger name="org.springframework.context" level="INFO" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>
		<Logger name="org.springframework.web" level="DEBUG" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>
		<Logger name="org.springframework" level="DEBUG" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>

		<Logger name="org.apache.ibatis" level="DEBUG" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>
		<Logger name="org.mybatis" level="ERROR" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>
		<!-- spring core END-->


		<!-- JDBC START-->
		<Logger name="jdbc.sqltiming" level="ERROR" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>
		<Logger name="jdbc.resultsettable" level="ERROR" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>
		<Logger name="jdbc.sqlonly" level="ERROR" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>
		<Logger name="jdbc.resultset" level="ERROR" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>
		<Logger name="jdbc.audit" level="ERROR" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>
		<Logger name="jdbc.connection" level="ERROR" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>
		<!-- JDBC END-->


		<Root level="DEBUG">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Root>
	</Loggers>

</Configuration>
