<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.bs.bizOrderMapper">
	
	<!-- =========================== 수주관리 메인 ========================================== -->
	<!-- 수주관리 메인 목록조회 -->
	<select id="bizOrderAdmLst" resultType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderAdmLst(
				#{startDate},
				#{endDate},
				#{searchTarget},
				#{nowYear},
				#{abroadGubun},
				#{prjCd}
			)
		}
		]]>
	</select>
	
	<!-- 수주관리 메인 목록조회 -->
	<select id="bizOrderAdmPureLst" resultType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderAdmPureLst(
				#{startDate},
				#{endDate},
				#{searchTarget},
				#{nowYear},
				#{abroadGubun},
				#{prjCd}
			)
		}
		]]>
	</select>
	
	<!-- 수주관리 메인 상세조회 -->
	<select id="bizOrderAdmSel" resultType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderAdmSel(
				#{idx},
				#{prjCd}
			)
		}
		]]>
	</select>
	
	<!-- 수주관리 메인 등록 -->
	<insert id="bizOrderAdmIns" statementType="CALLABLE" parameterType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderAdmIUD(
				'insert',
				#{idx},
				#{ordDate},
				#{dealCorpIdx},
				#{bizOrdNo},
				#{abroadGubun},
				#{salesRecogGubun},
				#{contractGubun},
				#{customerDesc},
				#{poNo},
				#{dueDate},
				#{goodsTypeCd},
				#{goodsNm},
				#{ordQty},
				#{ordCost},
				#{ordAmt},
				#{status},
				#{completeDate},
				#{poDesc},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
<!-- 		<selectKey resultType="String" keyProperty="idx" order="AFTER"> -->
<!-- 			SELECT IDENT_CURRENT('TB_BIZ_ORDER_ADM') -->
<!-- 		</selectKey> -->
	</insert>
	
	<!-- 수주관리 메인 수정 -->
	<update id="bizOrderAdmUpd" statementType="CALLABLE" parameterType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderAdmIUD(
				'update',
				#{idx},
				#{ordDate},
				#{dealCorpIdx},
				#{bizOrdNo},
				#{abroadGubun},
				#{salesRecogGubun},
				#{contractGubun},
				#{customerDesc},
				#{poNo},
				#{dueDate},
				#{goodsTypeCd},
				#{goodsNm},
				#{ordQty},
				#{ordCost},
				#{ordAmt},
				#{status},
				#{completeDate},
				#{poDesc},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</update>
	
	<!-- 수주관리 메인 삭제 -->
	<delete id="bizOrderAdmDel" statementType="CALLABLE" parameterType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderAdmIUD(
				'delete',
				#{idx},
				#{ordDate},
				#{dealCorpIdx},
				#{bizOrdNo},
				#{abroadGubun},
				#{salesRecogGubun},
				#{contractGubun},
				#{customerDesc},
				#{poNo},
				#{dueDate},
				#{goodsTypeCd},
				#{goodsNm},
				#{ordQty},
				#{ordCost},
				#{ordAmt},
				#{status},
				#{completeDate},
				#{poDesc},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</delete>
	
	<!-- 수주관리 메인 목형코드 중복확인 -->
	<select id="bizOrderAdmIdDupCheck" resultType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderAdmWdCdDupCheck(
				#{idx},
				#{wdCd}
			)
		}
		]]>
	</select>
	
	<!-- 수주 프로젝트 채번 중복 체크 -->
	<select id="prjCdSeq" resultType="BizOrderVo" statementType="CALLABLE" >
		<![CDATA[
		{
			call sp_bs_prjCdSeq(
				#{prjCd}
			)
		}
		]]>
	</select>
	
	<!-- 수주 프로젝트 등록 -->
	<insert id="bizOrderProjectIns" statementType="CALLABLE" parameterType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderProjectIUD(
				'insert',
				#{idx},
				#{startDate},
				#{targetDate},
				#{customerIdx},
				#{abroadGubun},
				#{projectCd},
				#{projectNm},
				#{goodsTypeCd},
				#{goodsNm},
				#{bizOrdGubun},
				#{salesRecogGubun},
				#{salesProgressGubun},
				#{prjQty},
				#{prjCost},
				#{progressAmt},
				#{currencyAmt},
				#{progressYn},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
		<selectKey resultType="String" keyProperty="idx" order="AFTER">
			SELECT IDENT_CURRENT('TB_BIZ_ORDER_PROJECT')
		</selectKey>
	</insert>
	
		<!-- 수주 사용내역 등록 -->
	<insert id="bizProjectUseIns" statementType="CALLABLE" parameterType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizProjectUseIUD(
				'insert',
				#{idx},
				#{bizOrderIdx},
				#{useQty},
				#{projectIdx},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</insert>
	
	<!-- =========================== 수주관리 상세 ========================================== -->
	<!-- 수주관리 상세 목록조회 -->
	<select id="bizOrderSpQtySel" resultType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderSpQtySel(
				#{stringItemIdx}
			)
		}
		]]>
	</select>
	
	<!-- 수주관리 상세 목록조회 -->
	<select id="bizOrderDtlLst" resultType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderSalesLst(
				#{bizOrdAdmIdx}
			)
		}
		]]>
	</select>
	
	<!-- 수주관리 상세 상세조회 -->
	<select id="bizOrderDtlSel" resultType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderDtlSel(
				#{idx}
			)
		}
		]]>
	</select>
	
	<!-- 수주관리 상세 수주 상태 수정 -->
	<update id="bizOrderDtlStatusUpd" statementType="CALLABLE" parameterType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderDtlStatusUpd(
				#{idx},
				#{bizStatusCd},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</update>
	
	<!-- 수주관리 상세 등록 -->
	<insert id="bizOrderDtlIns" statementType="CALLABLE" parameterType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderSalesIUD(
				'insert',
				#{idx},
				#{bizOrdAdmIdx},
				#{salesGubun},
				#{publishPreDate},
				#{publishAmt},
				#{publishDate},
				#{collectMonth},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</insert>
	
	<!-- 수주관리 상세 수정 -->
	<update id="bizOrderDtlUpd" statementType="CALLABLE" parameterType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderSalesIUD(
				'update',
				#{idx},
				#{bizOrdAdmIdx},
				#{salesGubun},
				#{publishPreDate},
				#{publishAmt},
				#{publishDate},
				#{collectMonth},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</update>
	
	<!-- 수주관리 상세 수정 -->
	<update id="bizOrderDtlUpdByTeamSchedule" statementType="CALLABLE" parameterType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderDtlUpdByTeamSchedule(
				#{updateJson},
				#{updIdx},
				#{updDate},
				#{resultYn, mode=OUT, jdbcType=VARCHAR},
				#{resMessage, mode=OUT, jdbcType=VARCHAR}
			)
		}
		]]>
	</update>
	
	<!-- 수주관리 수주중지 -->
	<update id="bizOrderDtlStop" statementType="CALLABLE" parameterType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderDtlStop(
				#{idx},
				#{bizStopYn},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</update>
	
	<!-- 출고시 수주 상태값 수정 -->
	<update id="bizOrderDtlStatusUpdWithItemOut" statementType="CALLABLE" parameterType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderDtlStatusUpdWithItemOut(
				#{updateJson},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</update>
	
	<!-- 수주관리 상세 수정 -->
	<update id="bizOrderDtlStockYnUpd" statementType="CALLABLE" parameterType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderDtlStockUseYnUpd(
				#{idx},
				#{stockUseYn},
				#{updIdx},
				#{updDate},
				#{resultYn, mode=OUT, jdbcType=VARCHAR},
				#{resMessage, mode=OUT, jdbcType=VARCHAR}
			)
		}
		]]>
	</update>
	
	<!-- 수주관리 상세 삭제 -->
	<delete id="bizOrderDtlDel" statementType="CALLABLE" parameterType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderSalesIUD(
				'delete',
				#{idx},
				#{bizOrdAdmIdx},
				#{salesGubun},
				#{publishPreDate},
				#{publishAmt},
				#{publishDate},
				#{collectMonth},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</delete>
	
	<!-- 수주관리 상세 취소 -->
	<update id="bizOrderDtlCancel" parameterType="BizOrderVo" statementType="CALLABLE">
		<![CDATA[
		{
			call sp_bs_bizOrderDtlCancel(
				#{bizOrdDtlIdx},
				#{updIdx},
				#{updDate},
				#{resultYn, mode=OUT, jdbcType=NVARCHAR},
				#{resMessage, mode=OUT, jdbcType=NVARCHAR}
			)
		}
		]]>
	</update>
	
	<!-- 수주관리 상세 PO완료처리 -->
	<update id="bizOrderAdmConfirm" parameterType="BizOrderVo" statementType="CALLABLE">
		<![CDATA[
		{
			call sp_bs_bizOrderAdmConfirm(
				#{idx},
				#{confirmYn},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</update>
	
	<!-- =========================== 수주현황 ========================================== -->
	<!-- 수주관리 전체 목록조회(수주별발주미포함) -->
	<select id="bizOrderCollectLst" resultType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderCollectLst(
				#{bizOrdAdmIdx},
				#{bizOrdSalesIdx}
			)
		}
		]]>
	</select>
	
		<!-- 수주관리 상세 등록 -->
	<insert id="bizOrderCollectIns" statementType="CALLABLE" parameterType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderCollectIUD(
				'insert',
				#{idx},
				#{bizOrdAdmIdx},
				#{bizOrdSalesIdx},
				#{collectGubun},
				#{collectSub},
				#{collectDate},
				#{collectAmt},
				#{receiptDate},
				#{dueDate},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</insert>
	
	<!-- 수주관리 상세 수정 -->
	<update id="bizOrderCollectUpd" statementType="CALLABLE" parameterType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderCollectIUD(
				'update',
				#{idx},
				#{bizOrdAdmIdx},
				#{bizOrdSalesIdx},
				#{collectGubun},
				#{collectSub},
				#{collectDate},
				#{collectAmt},
				#{receiptDate},
				#{dueDate},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</update>
	
	<!-- 수주관리 상세 삭제 -->
	<delete id="bizOrderCollectDel" statementType="CALLABLE" parameterType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderCollectIUD(
				'delete',
				#{idx},
				#{bizOrdAdmIdx},
				#{bizOrdSalesIdx},
				#{collectGubun},
				#{collectSub},
				#{collectDate},
				#{collectAmt},
				#{receiptDate},
				#{dueDate},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</delete>
	
	<!-- 수주관리 전체 목록조회(수주별발주포함) -->
	<select id="bizOrderStatusLstWithPO" resultType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderStatusLstWithPO(
				#{startDate},
				#{endDate},
				#{confirmDesign},
				#{purchaseTarget},
				#{searchInMatrlTarget}
			)
		}
		]]>
	</select>
	
	<!-- =========================== 공정정보 ========================================== -->
	<!-- 수주관리 제품공정 목록조회 -->
	<select id="bizOrderItemPrcssList" resultType="ItemInfoAdmVo">
		<![CDATA[
		{
			call sp_bs_bizOrderItemPrcssLst(
				#{itemIdx},
				#{bizOrdDtlIdx}
			)
		}
		]]>
	</select>
	
	<select id="bizOrderWorkOrderPrcssList" resultType="ItemInfoAdmVo">
		<![CDATA[
		{
			call sp_bs_bizOrderWorkOrderPrcssList(
				#{bizOrdDtlIdx}
			)
		}
		]]>
	</select>
	
	<!-- 수주관리 제품공정 작업계획확정 전 작업지시 체크 -->
	<select id="bizOrderWorkOrderCheckList" resultType="ItemInfoAdmVo">
		<![CDATA[
		{
			call sp_bs_bizOrderWorkOrderCheckList(
				#{bizOrdDtlIdx}
			)
		}
		]]>
	</select>
	
	<!-- 수주관리 제품공정 작업계획확정 -->
	<insert id="bizOrderWorkOrderInsert" statementType="CALLABLE" parameterType="ItemInfoAdmVo">
		<![CDATA[
		{
			call sp_bs_bizOrderWorkOrderInsert(
				#{bizOrdDtlIdx},
				#{itemIdx},
				#{regIdx},
				#{regDate},
				#{resultYn, mode=OUT, jdbcType=VARCHAR},
				#{resMessage, mode=OUT, jdbcType=VARCHAR}
			)
		}
		]]>
	</insert>
	
	<!-- 수주관리 제품공정 복사 -->
	<insert id="bizOrderItemPrcssCopy" parameterType="ItemInfoAdmVo">
		<![CDATA[
		{
			call sp_bs_bizOrderItemPrcssCopy(
				#{bizOrdDtlIdx},
				#{regIdx},
				#{regDate}
			)
		}
		]]>
	</insert>
	
	<!-- 수주관리 제품공정 등록 -->
	<insert id="bizOrderItemPrcssInsert" statementType="CALLABLE" parameterType="ItemInfoAdmVo">
		<![CDATA[
		{
			call sp_bs_bizOrderItemPrcssIUD(
				'insert',
				#{idx},
				#{itemIdx},
				#{bizOrdDtlIdx},
				#{insertList},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate},
				#{resultYn, mode=OUT, jdbcType=VARCHAR},
				#{resMessage, mode=OUT, jdbcType=VARCHAR}
			)
		}
		]]>
	</insert>
	
	<!-- 수주관리 제품공정 삭제 -->
	<delete id="bizOrderItemPrcssDelete" statementType="CALLABLE" parameterType="ItemInfoAdmVo">
		<![CDATA[
		{
			call sp_bs_bizOrderItemPrcssIUD(
				'delete',
				#{idx},
				#{itemIdx},
				#{bizOrdDtlIdx},
				#{insertList},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate},
				#{resultYn, mode=OUT, jdbcType=VARCHAR},
				#{resMessage, mode=OUT, jdbcType=VARCHAR}
			)
		}
		]]>
	</delete>
	
	<!-- =========================== 투입자재 ========================================== -->
	<!-- 수주관리 제품투입자재 목록조회 -->
	<select id="bizOrderItemBomList" resultType="ItemInfoAdmVo">
		<![CDATA[
		{
			call sp_bs_bizOrderItemBomLst(
				#{itemIdx},
				#{bizOrdDtlIdx}
			)
		}
		]]>
	</select>
	
	<!-- 수주관리 제품투입자재 등록 -->
	<insert id="bizOrderItemBomInsert" parameterType="ItemInfoAdmVo">
		<![CDATA[
		{
			call sp_bs_bizOrderItemBomIUD(
				'insert',
				#{idx},
				#{itemIdx},
				#{bizOrdDtlIdx},
				#{insertList},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</insert>
	
	<!-- 수주관리 제품투입자재 삭제 -->
	<delete id="bizOrderItemBomDelete" parameterType="ItemInfoAdmVo">
		<![CDATA[
		{
			call sp_bs_bizOrderItemBomIUD(
				'delete',
				#{idx},
				#{itemIdx},
				#{bizOrdDtlIdx},
				#{insertList},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</delete>
	
	<!-- =========================== 번들링 ========================================== -->
	<!-- 수주관리 제품번들링 목록조회 -->
	<select id="bizOrderDtlBundleList" resultType="ItemInfoAdmVo">
		<![CDATA[
		{
			call sp_bs_bizOrderDtlBundleList(
				#{bizOrdDtlIdx}
			)
		}
		]]>
	</select>
	
	<!-- 수주관리 제품번들링 등록 -->
	<insert id="bizOrderDtlBundleIns" statementType="CALLABLE" parameterType="ItemInfoAdmVo">
		<![CDATA[
		{
			call sp_bs_bizOrderDtlBundleIUD(
				'insert',
				#{idx},
				#{bizOrdDtlIdx},
				#{insertList},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate},
				#{resultYn, mode=OUT, jdbcType=VARCHAR},
				#{resMessage, mode=OUT, jdbcType=VARCHAR}
			)
		}
		]]>
	</insert>
	
	<!-- 수주관리 제품번들링 삭제 -->
	<delete id="bizOrderDtlBundleDel" statementType="CALLABLE" parameterType="ItemInfoAdmVo">
		<![CDATA[
		{
			call sp_bs_bizOrderDtlBundleIUD(
				'delete',
				#{idx},
				#{bizOrdDtlIdx},
				#{insertList},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate},
				#{resultYn, mode=OUT, jdbcType=VARCHAR},
				#{resMessage, mode=OUT, jdbcType=VARCHAR}
			)
		}
		]]>
	</delete>
	
	<!-- =========================== 수주집계표 ========================================== -->
	<!-- 수주관리 수주집계표 수주기간별 수주처 목록조회 -->
	<select id="bizOrderAdmLstAsDealCorp" resultType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderAdmLstAsDealCorp(
				#{startDate},
				#{endDate}
			)
		}
		]]>
	</select>
	
	<!-- 수주관리 수주집계표 수주처별 목록조회 -->
	<select id="bizOrderDtlLstByDealCorp" resultType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderDtlLstByDealCorp(
				#{dealCorpIdx},
				#{startDate},
				#{endDate}
			)
		}
		]]>
	</select>
	
	<!-- 수금/매출/미수금 집계-GROUP BY 거래처명 -->
	<select id="bizOrderAdmLstGroupByDealCorp" resultType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderAdmLstGroupByDealCorp(
				#{selYear},
				#{nowDate}
			)
		}
		]]>
	</select>
	
	<!-- 수금/매출/미수금 집계-GROUP BY 장비유형 -->
	<select id="bizOrderAdmLstGroupByGoodsType" resultType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderAdmLstGroupByGoodsType(
				#{selYear},
				#{nowDate}
			)
		}
		]]>
	</select>
	
	<!-- 수금/매출/미수금 집계- 월별실적 -->
	<select id="bizOrderAdmLstGroupByYearMon" resultType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderAdmLstGroupByYearMon(
				#{selYear}
			)
		}
		]]>
	</select>
	
	<!-- 수금/매출/미수금 집계- 분기별실적 -->
	<select id="bizOrderAdmLstGroupByQuarter" resultType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderAdmLstGroupByQuarter(
				#{selYear}
			)
		}
		]]>
	</select>
	
	<!-- 수금/매출/미수금 집계- 반기별실적 -->
	<select id="bizOrderAdmLstGroupByHalf" resultType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderAdmLstGroupByHalf(
				#{selYear}
			)
		}
		]]>
	</select>
	
		<!-- 수금/매출/미수금 집계- 반기별실적 -->
	<select id="bizOrderSalesGroupByDealMon" resultType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderSalesGroupByDealMon(
				#{selYear}
			)
		}
		]]>
	</select>
	
	<!-- =========================== 수주등록(해외) 메인 ========================================== -->
		<!-- 수주관리 메인 등록 -->
	<insert id="bizOrderAdmAbroadIns" statementType="CALLABLE" parameterType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderAdmAbroadIUD(
				'insert',
				#{idx},
				#{ordDate},
				#{dealCorpIdx},
				#{bizOrdNo},
				#{abroadGubun},
				#{salesRecogGubun},
				#{contractGubun},
				#{customerDesc},
				#{poNo},
				#{dueDate},
				#{goodsTypeCd},
				#{goodsNm},
				#{ordQty},
				#{ordCost},
				#{ordAmt},
				#{costUnit},
				#{poDesc},
				#{status},
				#{completeDate},
				#{transCondition},
				#{exchangeRate},
				#{currencyAmt},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</insert>
	
	<!-- 수주관리 메인 수정 -->
	<update id="bizOrderAdmAbroadUpd" statementType="CALLABLE" parameterType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderAdmAbroadIUD(
				'update',
				#{idx},
				#{ordDate},
				#{dealCorpIdx},
				#{bizOrdNo},
				#{bizOrdSeq},
				#{prjSeq},
				#{customerNo},
				#{dueDate},
				#{customerDesc},
				#{salesRecogGubun},
				#{goodsTypeCd},
				#{goodsNm},
				#{abroadGubun},
				#{ordQty},
				#{ordCost},
				#{ordAmt},
				#{status},
				#{completeDate},
				#{poDesc},
				#{transCondition},
				#{costUnit},
				#{exchangeRate},
				#{currencyAmt},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</update>
	
		<!-- 수주관리 메인 삭제 -->
	<delete id="bizOrderAdmAbroadDel" statementType="CALLABLE" parameterType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizOrderAdmAbroadIUD(
				'delete',
				#{idx},
				#{ordDate},
				#{dealCorpIdx},
				#{bizOrdNo},
				#{bizOrdSeq},
				#{prjSeq},
				#{customerNo},
				#{dueDate},
				#{customerDesc},
				#{salesRecogGubun},
				#{goodsTypeCd},
				#{goodsNm},
				#{abroadGubun},
				#{ordQty},
				#{ordCost},
				#{ordAmt},
				#{status},
				#{completeDate},
				#{poDesc},
				#{transCondition},
				#{costUnit},
				#{exchangeRate},
				#{currencyAmt},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</delete>

	<!-- =========================== 수주 SerialNo ========================================== -->
	<!-- 수주 SerialNo 목록조회 -->
	<select id="bizSerialNoLst" resultType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizSerialNoLst(
				#{idx}
			)
		}
		]]>
	</select>
	
	<!-- 수주 SerialNo 등록 -->
	<insert id="bizSerialNoIns" statementType="CALLABLE" parameterType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizSerialNoIUD(
				'insert',
				#{idx},
				#{projectIdx},
				#{goodsTypeCd},
				#{goodsNm},
				#{serialNo},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</insert>
	
	<!-- 수주 SerialNo 수정 -->
	<update id="bizSerialNoUpd" statementType="CALLABLE" parameterType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizSerialNoIUD(
				'update',
				#{idx},
				#{projectIdx},
				#{goodsTypeCd},
				#{goodsNm},
				#{serialNo},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</update>
	
<!-- ==============================프로젝트 리스트============================== -->
	<!-- 프로젝트 목록조회 -->
	<select id="bizProjectLst" resultType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_bizProjectLst(
				#{startDate},
				#{endDate},
				#{searchTarget}
			)
		}
		]]>
	</select>
	
	<!-- 진행여부 업데이트 -->
	<update id="progressYnUpd" statementType="CALLABLE" parameterType="BizOrderVo">
		<![CDATA[
		{
			call sp_bs_progressYnUpd(
				#{idx},
				#{progressYn},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</update>
	
</mapper>
