<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.bs.projectPlanMapper">
	
	
	<!-- 프로젝트 일정표 메인 목록조회 -->
	<select id="projectPlanLst" resultType="ProjectPlanVo">
		<![CDATA[
 		{
 			call sp_bs_projectPlanLst(
				#{prjCd},
				#{serialNo},
				#{versionNo}
			)
 		}
 		]]>
	</select>
	
	<!-- 프로젝트일정표 버전 목록조회 -->
	<select id="projectPlanVersionLst" resultType="ProjectPlanVo">
		<![CDATA[
 		{
 			call sp_bs_projectPlanVersionLst(
				#{prjCd},
				#{serialNo}
			)
 		}
 		]]>
	</select>
	
	<!-- 프로젝트일정표 버전 중복확인 -->
	<select id="projectPlanVersionExistCheck" resultType="int">
		<![CDATA[
 		{
 			call sp_bs_projectPlanVersionExistCheck(
				#{prjCd},
				#{serialNo},
				#{versionNo}
			)
 		}
 		]]>
	</select>
	
	<!-- 프로젝트 일정표 메인 등록 -->
	<insert id="projectPlanIns" statementType="CALLABLE" parameterType="ProjectPlanVo">
		<![CDATA[
 		{ 
 			call sp_bs_projectPlanIUD( 
 				'insert',
 				#{insertList},
				#{updateList},
				#{deleteList}
 			)
 		}
 		]]> 
	</insert>
	
	<!-- 프로젝트 일정표 메인 수정 -->
	<update id="projectPlanUpd" statementType="CALLABLE" parameterType="ProjectPlanVo">
		<![CDATA[
 		{ 
 			call sp_bs_projectPlanIUD( 
 				'update',
 				#{insertList},
				#{updateList},
				#{deleteList}
 			)
 		}
 		]]> 
	</update>
	
	<!-- 수주관리 메인 삭제 -->                                                                 
 	<delete id="projectPlanDel" statementType="CALLABLE" parameterType="ProjectPlanVo">
 		<![CDATA[                                                            
 		{                                                                   
 			call sp_bs_projectPlanIUD(                                      
 				'delete',                                                   
 				#{idx}, 
 				#{prjCd}, 
 				#{lmsType}, 
 				#{largeNm}, 
 				#{mediumNm}, 
 				#{smallNm},
 				#{planStartDate},
 				#{planEndDate},
 				#{performStartDate},
 				#{performEndDate}, 
 				#{completionRate},
 				#{projectPlanDesc}, 
 				#{regIdx}, 
 				#{regDate}                                            
 			)                                                               
 		}                                                                   
 		]]>                                                                 
 	</delete>   
 	
 	<!-- =========================== 프로젝트 계획서 등록/수정 ========================================== -->
	<!-- 프로젝트 계획서 등록 -->
	<insert id="bizPrjPlanIns" statementType="CALLABLE" parameterType="ProjectPlanVo">
		<![CDATA[
 		{ 
 			call sp_bs_bizPrjPlanIUD( 
 				'insert',
 				#{idx},
 				#{massDev},
				#{prjCd},
				#{prjNm},
				#{leader},
				#{customer},
				#{startDate},
				#{endDate},
				#{forwardWay},
				#{extraIn},
				#{extraWrite},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate}
 			)
 		}
 		]]> 

	</insert>
	
	<!-- 프로젝트 계획서 수정 -->
	<insert id="bizPrjPlanUpd" statementType="CALLABLE" parameterType="ProjectPlanVo">
		<![CDATA[
 		{ 
 			call sp_bs_bizPrjPlanIUD( 
 				'update',
 				#{idx},
 				#{massDev},
				#{prjCd},
				#{prjNm},
				#{leader},
				#{customer},
				#{startDate},
				#{endDate},
				#{forwardWay},
				#{extraIn},
				#{extraWrite},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate}
 			)
 		}
 		]]> 

	</insert>
	
		<!-- 주요고객 요구사항 -->
	<insert id="mainCustIns" statementType="CALLABLE" parameterType="ProjectPlanVo">
		<![CDATA[
 		{ 
 			call sp_bs_bizPrjPlanMainCustIUD( 
 				'insert',
 				#{prjCd},
 				#{insertJson},
				#{regIdx},
				#{regDate}
 			)
 		}
 		]]> 

	</insert>
	
	<!-- 주요고객 요구사항 삭제 -->
	<delete id="mainCustDel" statementType="CALLABLE" parameterType="ProjectPlanVo">
		<![CDATA[
 		{ 
 			call sp_bs_bizPrjPlanMainCustIUD( 
 				'delete',
 				#{prjCd},
 				#{insertJson},
				#{regIdx},
				#{regDate}
 			)
 		}
 		]]> 

	</delete>
	
	<!-- 참여인력 -->
	<insert id="inPeopleIns" statementType="CALLABLE" parameterType="ProjectPlanVo">
		<![CDATA[
 		{ 
 			call sp_bs_bizPrjPlanUserIUD( 
 				'insert',
 				#{prjCd},
 				#{insertJson},
				#{regIdx},
				#{regDate}
 			)
 		}
 		]]> 

	</insert>
	
	<!-- 참여인력 삭제 -->
	<delete id="inPeopleDel" statementType="CALLABLE" parameterType="ProjectPlanVo">
		<![CDATA[
 		{ 
 			call sp_bs_bizPrjPlanUserIUD( 
 				'delete',
 				#{prjCd},
 				#{insertJson},
				#{regIdx},
				#{regDate}
 			)
 		}
 		]]> 

	</delete>
	
	<!-- 재료비 및 매출이익 등록 -->
	<insert id="materialIns" statementType="CALLABLE" parameterType="ProjectPlanVo">
		<![CDATA[
 		{ 
 			call sp_bs_bizPrjPlanMaterialIUD( 
 				'insert',
 				#{prjCd},
 				#{insertJson},
				#{regIdx},
				#{regDate}
 			)
 		}
 		]]> 

	</insert>
	
	<!-- 재료비 및 매출이익 삭제 -->
	<delete id="materialDel" statementType="CALLABLE" parameterType="ProjectPlanVo">
		<![CDATA[
 		{ 
 			call sp_bs_bizPrjPlanMaterialIUD( 
 				'delete',
 				#{prjCd},
				#{insertJson},
				#{regIdx},
				#{regDate}
 			)
 		}
 		]]> 

	</delete>
	
	<!-- 추진일정 등록 -->
	<insert id="carryDateIns" statementType="CALLABLE" parameterType="ProjectPlanVo">
		<![CDATA[
 		{ 
 			call sp_bs_bizPrjPlanCarryDateIUD( 
 				'insert',
 				#{prjCd},
 				#{insertJson},
				#{regIdx},
				#{regDate}
 			)
 		}
 		]]> 

	</insert>
	
		<!-- 추진일정 삭제 -->
	<delete id="carryDateDel" statementType="CALLABLE" parameterType="ProjectPlanVo">
		<![CDATA[
 		{ 
 			call sp_bs_bizPrjPlanCarryDateIUD( 
 				'delete',
 				#{prjCd},
 				#{insertJson},
				#{regIdx},
				#{regDate}
 			)
 		}
 		]]> 

	</delete>
	
	<!-- 산출물 등록 -->
	<insert id="outputsIns" statementType="CALLABLE" parameterType="ProjectPlanVo">
		<![CDATA[
 		{ 
 			call sp_bs_bizPrjPlanOutputsIUD( 
 				'insert',
 				#{prjCd},
 				#{insertJson},
				#{regIdx},
				#{regDate}
 			)
 		}
 		]]> 

	</insert>
	
	<!-- 산출물 삭제 -->
	<delete id="outputsDel" statementType="CALLABLE" parameterType="ProjectPlanVo">
		<![CDATA[
 		{ 
 			call sp_bs_bizPrjPlanOutputsIUD( 
 				'delete',
 				#{prjCd},
 				#{insertJson},
				#{regIdx},
				#{regDate}
 			)
 		}
 		]]> 

	</delete>
	
 	<!-- 프로젝트 계획서 조회 -->
	<select id="bizPrjPlanSel" resultType="ProjectPlanVo">
		<![CDATA[
 		{
 			call sp_bs_bizPrjPlanSel(
 				#{prjCd}
 			)
 		}
 		]]> 
	</select>
	
	<!-- 주요고객 요구사항 조회 -->
	<select id="bizPrjPlanMaincustLst" resultType="ProjectPlanVo">
		<![CDATA[
 		{
 			call sp_bs_bizPrjPlanMaincustLst(
				#{prjCd}
			)
 		}
 		]]>
	</select>
	
	<!-- 참여인력 조회 -->
	<select id="bizPrjPlanUserLst" resultType="ProjectPlanVo">
		<![CDATA[
 		{
 			call sp_bs_bizPrjPlanUserLst(
				#{prjCd}
			)
 		}
 		]]>
	</select>
	
	<!-- 재료비 및 매출이익 조회 -->
	<select id="bizPrjPlanMaterialLst" resultType="ProjectPlanVo">
		<![CDATA[
 		{
 			call sp_bs_bizPrjPlanMaterialLst(
				#{prjCd}
			)
 		}
 		]]>
	</select>
	
	<!-- 추진일정 조회 -->
	<select id="bizPrjPlanCarryLst" resultType="ProjectPlanVo">
		<![CDATA[
 		{
 			call sp_bs_bizPrjPlanCarryLst(
				#{prjCd}
			)
 		}
 		]]>
	</select>
	
	<!-- 산출물 조회 -->
	<select id="bizPrjPlanOutputsLst" resultType="ProjectPlanVo">
		<![CDATA[
 		{
 			call sp_bs_bizPrjPlanOutputsLst(
				#{prjCd}
			)
 		}
 		]]>
	</select>
	
 	<!-- 프로젝트 계획서 이력 조회-->
	<insert id="upvoteApprovalHistIns" statementType="CALLABLE" parameterType="ProjectPlanVo">
		<![CDATA[
 		{
 			call sp_bs_upvoteApprovalHistIns(
 				#{prjCd},
 				#{upvoteGubun},
 				#{status},
 				#{userIdx},
 				#{upvoteApprovalDate},
 				#{upvoteApprovalReason},
 				#{regIdx},
 				#{regDate}
 			)
 		}
 		]]>
	</insert>
	
 	<!-- 프로젝트계획서 상신 처리 -->
 	<update id="bizPrjPlanUpvoteYnUpd" statementType="CALLABLE" parameterType="ProjectPlanVo">
 		<![CDATA[ 
 		{ 
 			call sp_bs_bizPrjPlanUpvoteYnUpd( 
 				#{prjCd}, 
 				#{upvoteYn}, 
 				#{upvoteUserIdx}, 
 				#{upvoteDate}, 
 				#{upvoteReason}, 
 				#{updIdx}, 
 				#{updDate} 
 			) 
 		} 
 		]]>
 	</update>
 	
	<!-- 프로젝트 계획서 상신 조회 -->
	<select id="bizPrjPlanUpvoteLst" resultType="ProjectPlanVo">
		<![CDATA[
 		{
 			call sp_bs_bizPrjPlanUpvoteLst(
				#{startDate},
				#{endDate}
			)
 		}
 		]]>
	</select>
	
 	<!-- 프로젝트계획서 결재/반려 -->
 	<update id="bizPrjPlanApprovalYnUpd" statementType="CALLABLE" parameterType="ProjectPlanVo">
 		<![CDATA[
 		{
 			call sp_bs_bizPrjPlanApprovalYnUpd(
 				#{prjCd},
 				#{approvalYn},
 				#{approvalUserIdx},
 				#{approvalDate},
 				#{approvalReason},
 				#{updIdx},
 				#{updDate}
 			)
 		}
 		]]>
 	</update>
 	
 	<!-- 프로젝트 계획서 이력 조회 -->
	<select id="upvoteApprovalHistLst" resultType="ProjectPlanVo">
		<![CDATA[
 		{
 			call sp_bs_upvoteApprovalHistLst(
				#{prjCd},
				#{upvoteGubun}
			)
 		}
 		]]>
	</select>
<!-- =========================== 수주관리 메인 ========================================== -->
<!-- 수주관리 메인 목록조회 -->
<!-- 	<select id="bizOrderAdmLst" resultType="BizOrderVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderAdmLst( -->
				
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</select> -->
	
 	<!-- 수주관리 메인 목록조회-GROUP BY 고객사 -->
<!-- 	<select id="bizOrderAdmLstGroupByDealCorp" resultType="BizOrderVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderAdmLstGroupByDealCorp( -->
<!-- 				#{startDate}, -->
<!-- 				#{endDate} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</select> -->
	
 	<!-- 수주관리 메인 목록조회-GROUP BY 자재 -->
<!-- 	<select id="bizOrderDtlLstGroupByMatrl" resultType="BizOrderVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderDtlLstGroupByMatrl( -->
<!-- 				#{startDate}, -->
<!-- 				#{endDate}, -->
<!-- 				#{searchTarget} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</select> -->
	
 	<!-- 수주관리 메인 상세조회 -->
<!-- 	<select id="bizOrderAdmSel" resultType="BizOrderVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderAdmSel( -->
<!-- 				#{idx} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</select> -->
	
 	<!-- 수주관리 메인 등록 -->
<!-- 	<insert id="bizOrderAdmIns" statementType="CALLABLE" parameterType="BizOrderVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderAdmIUD( -->
<!-- 				'insert', -->
<!-- 				#{idx}, -->
<!-- 				#{ordDate}, -->
<!-- 				#{dealCorpIdx}, -->
<!-- 				#{bizOrdNo}, -->
<!-- 				#{bizOrdSeq}, -->
<!-- 				#{prjSeq}, -->
<!-- 				#{customerNo}, -->
<!-- 				#{dueDate}, -->
<!-- 				#{customerDesc}, -->
<!-- 				#{salesRecogGubun}, -->
<!-- 				#{goodsTypeCd}, -->
<!-- 				#{goodsNm}, -->
<!-- 				#{abroadGubun}, -->
<!-- 				#{ordQty}, -->
<!-- 				#{ordCost}, -->
<!-- 				#{ordAmt}, -->
<!-- 				#{prjCd}, -->
<!-- 				#{prjNm}, -->
<!-- 				#{regIdx}, -->
<!-- 				#{regDate}, -->
<!-- 				#{updIdx}, -->
<!-- 				#{updDate} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
 <!-- 		<selectKey resultType="String" keyProperty="idx" order="AFTER"> -->
 <!-- 			SELECT IDENT_CURRENT('TB_BIZ_ORDER_ADM') -->
 <!-- 		</selectKey> -->
<!-- 	</insert> -->
	
 	<!-- 수주관리 메인 수정 -->
<!-- 	<update id="bizOrderAdmUpd" statementType="CALLABLE" parameterType="BizOrderVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderAdmIUD( -->
<!-- 				'update', -->
<!-- 				#{idx}, -->
<!-- 				#{ordDate}, -->
<!-- 				#{dealCorpIdx}, -->
<!-- 				#{bizOrdNo}, -->
<!-- 				#{bizOrdSeq}, -->
<!-- 				#{prjSeq}, -->
<!-- 				#{customerNo}, -->
<!-- 				#{dueDate}, -->
<!-- 				#{customerDesc}, -->
<!-- 				#{salesRecogGubun}, -->
<!-- 				#{goodsTypeCd}, -->
<!-- 				#{goodsNm}, -->
<!-- 				#{abroadGubun}, -->
<!-- 				#{ordQty}, -->
<!-- 				#{ordCost}, -->
<!-- 				#{ordAmt}, -->
<!-- 				#{prjCd}, -->
<!-- 				#{prjNm}, -->
<!-- 				#{regIdx}, -->
<!-- 				#{regDate}, -->
<!-- 				#{updIdx}, -->
<!-- 				#{updDate} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</update> -->
	
 	<!-- 수주관리 메인 삭제 -->
<!-- 	<delete id="bizOrderAdmDel" statementType="CALLABLE" parameterType="BizOrderVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderAdmIUD( -->
<!-- 				'delete', -->
<!-- 				#{idx}, -->
<!-- 				#{ordDate}, -->
<!-- 				#{dealCorpIdx}, -->
<!-- 				#{bizOrdNo}, -->
<!-- 				#{bizOrdSeq}, -->
<!-- 				#{prjSeq}, -->
<!-- 				#{customerNo}, -->
<!-- 				#{dueDate}, -->
<!-- 				#{customerDesc}, -->
<!-- 				#{salesRecogGubun}, -->
<!-- 				#{goodsTypeCd}, -->
<!-- 				#{goodsNm}, -->
<!-- 				#{abroadGubun}, -->
<!-- 				#{ordQty}, -->
<!-- 				#{ordCost}, -->
<!-- 				#{ordAmt}, -->
<!-- 				#{prjCd}, -->
<!-- 				#{prjNm}, -->
<!-- 				#{regIdx}, -->
<!-- 				#{regDate}, -->
<!-- 				#{updIdx}, -->
<!-- 				#{updDate} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</delete> -->
	
 	<!-- 수주관리 메인 목형코드 중복확인 -->
<!-- 	<select id="bizOrderAdmIdDupCheck" resultType="BizOrderVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderAdmWdCdDupCheck( -->
<!-- 				#{idx}, -->
<!-- 				#{wdCd} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</select> -->
	
 	<!-- =========================== 수주관리 상세 ========================================== -->
 	<!-- 수주관리 상세 목록조회 -->
<!-- 	<select id="bizOrderSpQtySel" resultType="BizOrderVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderSpQtySel( -->
<!-- 				#{stringItemIdx} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</select> -->
	
 	<!-- 수주관리 상세 목록조회 -->
<!-- 	<select id="bizOrderDtlLst" resultType="BizOrderVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderSalesLst( -->
<!-- 				#{bizOrdAdmIdx} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</select> -->
	
 	<!-- 수주관리 상세 상세조회 -->
<!-- 	<select id="bizOrderDtlSel" resultType="BizOrderVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderDtlSel( -->
<!-- 				#{idx} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</select> -->
	
 	<!-- 수주관리 상세 수주 상태 수정 -->
<!-- 	<update id="bizOrderDtlStatusUpd" statementType="CALLABLE" parameterType="BizOrderVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderDtlStatusUpd( -->
<!-- 				#{idx}, -->
<!-- 				#{bizStatusCd}, -->
<!-- 				#{updIdx}, -->
<!-- 				#{updDate} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</update> -->
	
 	<!-- 수주관리 상세 등록 -->
<!-- 	<insert id="bizOrderDtlIns" statementType="CALLABLE" parameterType="BizOrderVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderSalesIUD( -->
<!-- 				'insert', -->
<!-- 				#{idx}, -->
<!-- 				#{bizOrdAdmIdx}, -->
<!-- 				#{salesGubun}, -->
<!-- 				#{publishPreDate}, -->
<!-- 				#{publishAmt}, -->
<!-- 				#{publishDate}, -->
<!-- 				#{collectMonth}, -->
<!-- 				#{regIdx}, -->
<!-- 				#{regDate}, -->
<!-- 				#{updIdx}, -->
<!-- 				#{updDate} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</insert> -->
	
 	<!-- 수주관리 상세 수정 -->
<!-- 	<update id="bizOrderDtlUpd" statementType="CALLABLE" parameterType="BizOrderVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderSalesIUD( -->
<!-- 				'update', -->
<!-- 				#{idx}, -->
<!-- 				#{bizOrdAdmIdx}, -->
<!-- 				#{salesGubun}, -->
<!-- 				#{publishPreDate}, -->
<!-- 				#{publishAmt}, -->
<!-- 				#{publishDate}, -->
<!-- 				#{collectMonth}, -->
<!-- 				#{regIdx}, -->
<!-- 				#{regDate}, -->
<!-- 				#{updIdx}, -->
<!-- 				#{updDate} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</update> -->
	
 	<!-- 수주관리 상세 수정 -->
<!-- 	<update id="bizOrderDtlUpdByTeamSchedule" statementType="CALLABLE" parameterType="BizOrderVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderDtlUpdByTeamSchedule( -->
<!-- 				#{updateJson}, -->
<!-- 				#{updIdx}, -->
<!-- 				#{updDate}, -->
<!-- 				#{resultYn, mode=OUT, jdbcType=VARCHAR}, -->
<!-- 				#{resMessage, mode=OUT, jdbcType=VARCHAR} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</update> -->
	
 	<!-- 수주관리 수주중지 -->
<!-- 	<update id="bizOrderDtlStop" statementType="CALLABLE" parameterType="BizOrderVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderDtlStop( -->
<!-- 				#{idx}, -->
<!-- 				#{bizStopYn}, -->
<!-- 				#{updIdx}, -->
<!-- 				#{updDate} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</update> -->
	
 	<!-- 출고시 수주 상태값 수정 -->
<!-- 	<update id="bizOrderDtlStatusUpdWithItemOut" statementType="CALLABLE" parameterType="BizOrderVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderDtlStatusUpdWithItemOut( -->
<!-- 				#{updateJson}, -->
<!-- 				#{updIdx}, -->
<!-- 				#{updDate} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</update> -->
	
 	<!-- 수주관리 상세 수정 -->
<!-- 	<update id="bizOrderDtlStockYnUpd" statementType="CALLABLE" parameterType="BizOrderVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderDtlStockUseYnUpd( -->
<!-- 				#{idx}, -->
<!-- 				#{stockUseYn}, -->
<!-- 				#{updIdx}, -->
<!-- 				#{updDate}, -->
<!-- 				#{resultYn, mode=OUT, jdbcType=VARCHAR}, -->
<!-- 				#{resMessage, mode=OUT, jdbcType=VARCHAR} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</update> -->
	
 	<!-- 수주관리 상세 삭제 -->
<!-- 	<delete id="bizOrderDtlDel" statementType="CALLABLE" parameterType="BizOrderVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderSalesIUD( -->
<!-- 				'delete', -->
<!-- 				#{idx}, -->
<!-- 				#{bizOrdAdmIdx}, -->
<!-- 				#{salesGubun}, -->
<!-- 				#{publishPreDate}, -->
<!-- 				#{publishAmt}, -->
<!-- 				#{publishDate}, -->
<!-- 				#{collectMonth}, -->
<!-- 				#{regIdx}, -->
<!-- 				#{regDate}, -->
<!-- 				#{updIdx}, -->
<!-- 				#{updDate} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</delete> -->
	
 	<!-- 수주관리 상세 취소 -->
<!-- 	<update id="bizOrderDtlCancel" parameterType="BizOrderVo" statementType="CALLABLE"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderDtlCancel( -->
<!-- 				#{bizOrdDtlIdx}, -->
<!-- 				#{updIdx}, -->
<!-- 				#{updDate}, -->
<!-- 				#{resultYn, mode=OUT, jdbcType=NVARCHAR}, -->
<!-- 				#{resMessage, mode=OUT, jdbcType=NVARCHAR} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</update> -->
	
 	<!-- 수주관리 상세 PO완료처리 -->
<!-- 	<update id="bizOrderAdmConfirm" parameterType="BizOrderVo" statementType="CALLABLE"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderAdmConfirm( -->
<!-- 				#{idx}, -->
<!-- 				#{confirmYn}, -->
<!-- 				#{updIdx}, -->
<!-- 				#{updDate} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</update> -->
	
 	<!-- =========================== 수주현황 ========================================== -->
 	<!-- 수주관리 전체 목록조회(수주별발주미포함) -->
<!-- 	<select id="bizOrderCollectLst" resultType="BizOrderVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderCollectLst( -->
<!-- 				#{bizOrdAdmIdx} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</select> -->
	
 		<!-- 수주관리 상세 등록 -->
<!-- 	<insert id="bizOrderCollectIns" statementType="CALLABLE" parameterType="BizOrderVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderCollectIUD( -->
<!-- 				'insert', -->
<!-- 				#{idx}, -->
<!-- 				#{bizOrdAdmIdx}, -->
<!-- 				#{collectGubun}, -->
<!-- 				#{collectDate}, -->
<!-- 				#{collectAmt}, -->
<!-- 				#{regIdx}, -->
<!-- 				#{regDate}, -->
<!-- 				#{updIdx}, -->
<!-- 				#{updDate} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</insert> -->
	
 	<!-- 수주관리 상세 수정 -->
<!-- 	<update id="bizOrderCollectUpd" statementType="CALLABLE" parameterType="BizOrderVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderCollectIUD( -->
<!-- 				'update', -->
<!-- 				#{idx}, -->
<!-- 				#{bizOrdAdmIdx}, -->
<!-- 				#{collectGubun}, -->
<!-- 				#{collectDate}, -->
<!-- 				#{collectAmt}, -->
<!-- 				#{regIdx}, -->
<!-- 				#{regDate}, -->
<!-- 				#{updIdx}, -->
<!-- 				#{updDate} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</update> -->
	
 	<!-- 수주관리 상세 삭제 -->
<!-- 	<delete id="bizOrderCollectDel" statementType="CALLABLE" parameterType="BizOrderVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderCollectIUD( -->
<!-- 				'delete', -->
<!-- 				#{idx}, -->
<!-- 				#{bizOrdAdmIdx}, -->
<!-- 				#{collectGubun}, -->
<!-- 				#{collectDate}, -->
<!-- 				#{collectAmt}, -->
<!-- 				#{regIdx}, -->
<!-- 				#{regDate}, -->
<!-- 				#{updIdx}, -->
<!-- 				#{updDate} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</delete> -->
	
 	<!-- 수주관리 전체 목록조회(수주별발주포함) -->
<!-- 	<select id="bizOrderStatusLstWithPO" resultType="BizOrderVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderStatusLstWithPO( -->
<!-- 				#{startDate}, -->
<!-- 				#{endDate}, -->
<!-- 				#{confirmDesign}, -->
<!-- 				#{purchaseTarget}, -->
<!-- 				#{searchInMatrlTarget} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</select> -->
	
 	<!-- =========================== 공정정보 ========================================== -->
 	<!-- 수주관리 제품공정 목록조회 -->
<!-- 	<select id="bizOrderItemPrcssList" resultType="ItemInfoAdmVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderItemPrcssLst( -->
<!-- 				#{itemIdx}, -->
<!-- 				#{bizOrdDtlIdx} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</select> -->
	
<!-- 	<select id="bizOrderWorkOrderPrcssList" resultType="ItemInfoAdmVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderWorkOrderPrcssList( -->
<!-- 				#{bizOrdDtlIdx} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</select> -->
	
 	<!-- 수주관리 제품공정 작업계획확정 전 작업지시 체크 -->
<!-- 	<select id="bizOrderWorkOrderCheckList" resultType="ItemInfoAdmVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderWorkOrderCheckList( -->
<!-- 				#{bizOrdDtlIdx} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</select> -->
	
 	<!-- 수주관리 제품공정 작업계획확정 -->
<!-- 	<insert id="bizOrderWorkOrderInsert" statementType="CALLABLE" parameterType="ItemInfoAdmVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderWorkOrderInsert( -->
<!-- 				#{bizOrdDtlIdx}, -->
<!-- 				#{itemIdx}, -->
<!-- 				#{regIdx}, -->
<!-- 				#{regDate}, -->
<!-- 				#{resultYn, mode=OUT, jdbcType=VARCHAR}, -->
<!-- 				#{resMessage, mode=OUT, jdbcType=VARCHAR} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</insert> -->
	
 	<!-- 수주관리 제품공정 복사 -->
<!-- 	<insert id="bizOrderItemPrcssCopy" parameterType="ItemInfoAdmVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderItemPrcssCopy( -->
<!-- 				#{bizOrdDtlIdx}, -->
<!-- 				#{regIdx}, -->
<!-- 				#{regDate} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</insert> -->
	
 	<!-- 수주관리 제품공정 등록 -->
<!-- 	<insert id="bizOrderItemPrcssInsert" statementType="CALLABLE" parameterType="ItemInfoAdmVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderItemPrcssIUD( -->
<!-- 				'insert', -->
<!-- 				#{idx}, -->
<!-- 				#{itemIdx}, -->
<!-- 				#{bizOrdDtlIdx}, -->
<!-- 				#{insertList}, -->
<!-- 				#{regIdx}, -->
<!-- 				#{regDate}, -->
<!-- 				#{updIdx}, -->
<!-- 				#{updDate}, -->
<!-- 				#{resultYn, mode=OUT, jdbcType=VARCHAR}, -->
<!-- 				#{resMessage, mode=OUT, jdbcType=VARCHAR} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</insert> -->
	
 	<!-- 수주관리 제품공정 삭제 -->
<!-- 	<delete id="bizOrderItemPrcssDelete" statementType="CALLABLE" parameterType="ItemInfoAdmVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderItemPrcssIUD( -->
<!-- 				'delete', -->
<!-- 				#{idx}, -->
<!-- 				#{itemIdx}, -->
<!-- 				#{bizOrdDtlIdx}, -->
<!-- 				#{insertList}, -->
<!-- 				#{regIdx}, -->
<!-- 				#{regDate}, -->
<!-- 				#{updIdx}, -->
<!-- 				#{updDate}, -->
<!-- 				#{resultYn, mode=OUT, jdbcType=VARCHAR}, -->
<!-- 				#{resMessage, mode=OUT, jdbcType=VARCHAR} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</delete> -->
	
 	<!-- =========================== 투입자재 ========================================== -->
 	<!-- 수주관리 제품투입자재 목록조회 -->
<!-- 	<select id="bizOrderItemBomList" resultType="ItemInfoAdmVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderItemBomLst( -->
<!-- 				#{itemIdx}, -->
<!-- 				#{bizOrdDtlIdx} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</select> -->
	
 	<!-- 수주관리 제품투입자재 등록 -->
<!-- 	<insert id="bizOrderItemBomInsert" parameterType="ItemInfoAdmVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderItemBomIUD( -->
<!-- 				'insert', -->
<!-- 				#{idx}, -->
<!-- 				#{itemIdx}, -->
<!-- 				#{bizOrdDtlIdx}, -->
<!-- 				#{insertList}, -->
<!-- 				#{regIdx}, -->
<!-- 				#{regDate}, -->
<!-- 				#{updIdx}, -->
<!-- 				#{updDate} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</insert> -->
	
 	<!-- 수주관리 제품투입자재 삭제 -->
<!-- 	<delete id="bizOrderItemBomDelete" parameterType="ItemInfoAdmVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderItemBomIUD( -->
<!-- 				'delete', -->
<!-- 				#{idx}, -->
<!-- 				#{itemIdx}, -->
<!-- 				#{bizOrdDtlIdx}, -->
<!-- 				#{insertList}, -->
<!-- 				#{regIdx}, -->
<!-- 				#{regDate}, -->
<!-- 				#{updIdx}, -->
<!-- 				#{updDate} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</delete> -->
	
 	<!-- =========================== 번들링 ========================================== -->
 	<!-- 수주관리 제품번들링 목록조회 -->
<!-- 	<select id="bizOrderDtlBundleList" resultType="ItemInfoAdmVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderDtlBundleList( -->
<!-- 				#{bizOrdDtlIdx} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</select> -->
	
 	<!-- 수주관리 제품번들링 등록 -->
<!-- 	<insert id="bizOrderDtlBundleIns" statementType="CALLABLE" parameterType="ItemInfoAdmVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderDtlBundleIUD( -->
<!-- 				'insert', -->
<!-- 				#{idx}, -->
<!-- 				#{bizOrdDtlIdx}, -->
<!-- 				#{insertList}, -->
<!-- 				#{regIdx}, -->
<!-- 				#{regDate}, -->
<!-- 				#{updIdx}, -->
<!-- 				#{updDate}, -->
<!-- 				#{resultYn, mode=OUT, jdbcType=VARCHAR}, -->
<!-- 				#{resMessage, mode=OUT, jdbcType=VARCHAR} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</insert> -->
	
 	<!-- 수주관리 제품번들링 삭제 -->
<!-- 	<delete id="bizOrderDtlBundleDel" statementType="CALLABLE" parameterType="ItemInfoAdmVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderDtlBundleIUD( -->
<!-- 				'delete', -->
<!-- 				#{idx}, -->
<!-- 				#{bizOrdDtlIdx}, -->
<!-- 				#{insertList}, -->
<!-- 				#{regIdx}, -->
<!-- 				#{regDate}, -->
<!-- 				#{updIdx}, -->
<!-- 				#{updDate}, -->
<!-- 				#{resultYn, mode=OUT, jdbcType=VARCHAR}, -->
<!-- 				#{resMessage, mode=OUT, jdbcType=VARCHAR} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</delete> -->
	
 	<!-- =========================== 수주집계표 ========================================== --> 
 	<!-- 수주관리 수주집계표 수주기간별 수주처 목록조회 -->
<!-- 	<select id="bizOrderAdmLstAsDealCorp" resultType="BizOrderVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderAdmLstAsDealCorp( -->
<!-- 				#{startDate}, -->
<!-- 				#{endDate} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</select> -->
	
 	<!-- 수주관리 수주집계표 수주처별 목록조회 -->
<!-- 	<select id="bizOrderDtlLstByDealCorp" resultType="BizOrderVo"> -->
<!-- 		<![CDATA[ -->
<!-- 		{ -->
<!-- 			call sp_bs_bizOrderDtlLstByDealCorp( -->
<!-- 				#{dealCorpIdx}, -->
<!-- 				#{startDate}, -->
<!-- 				#{endDate} -->
<!-- 			) -->
<!-- 		} -->
<!-- 		]]> -->
<!-- 	</select> -->
</mapper>
