<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.em.equipRepairHistAdmMapper">
	
	<!-- 설비수리이력 목록조회 -->
	<select id="equipRepairHistAdmListAll" resultType="EquipRepairHistAdmVo">
		<![CDATA[
		{
			call sp_em_equipRepairHistAdmLst(
				#{equipIdx}
			)
		}
		]]>
	</select>
	
	<!--설비수리이력 상세목록 조회 -->
	<select id="equipRepairHistAdmSel" resultType="EquipRepairHistAdmVo">
		<![CDATA[
		{
			call sp_em_equipRepairHistAdmSel(
				#{idx}
			)
		}
		]]>
	</select>
	
	<!-- 설비수리이력 등록 -->
	<insert id="equipRepairHistAdmInsert" parameterType="EquipRepairHistAdmVo">
		<![CDATA[
		{
			call sp_em_equipRepairHistAdmIUD(
				'insert',
				#{idx},
				#{equipIdx},
				#{repairCd},
				#{repairStartDate},
				#{repairEndDate},
				#{repairContent},
				#{repairCompany}, 
				#{repairCost}, 
				#{partCost},
				#{laborCost},
				#{repairDesc},
				#{beforeImageFile},
				#{afterImageFile},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</insert>
	
	<!-- 설비수리이력 수정 -->
	<insert id="equipRepairHistAdmUpdate" parameterType="EquipRepairHistAdmVo">
		<![CDATA[
		{
			call sp_em_equipRepairHistAdmIUD(
				'update',
				#{idx},
				#{equipIdx},
				#{repairCd},
				#{repairStartDate},
				#{repairEndDate},
				#{repairContent},
				#{repairCompany}, 
				#{repairCost}, 
				#{partCost},
				#{laborCost},
				#{repairDesc},
				#{beforeImageFile},
				#{afterImageFile},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</insert>
	
	<!-- 설비수리이력 삭제 -->
	<delete id="equipRepairHistAdmDelete" parameterType="EquipRepairHistAdmVo">
		<![CDATA[
		{
			call sp_em_equipRepairHistAdmIUD(
				'delete',
				#{idx},
				#{equipIdx},
				#{repairCd},
				#{repairStartDate},
				#{repairEndDate},
				#{repairContent},
				#{repairCompany}, 
				#{repairCost}, 
				#{partCost},
				#{laborCost},
				#{repairDesc},
				#{beforeImageFile},
				#{afterImageFile},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</delete>
	
	<!-- 설비관리대장 조회 -->
	<select id="equipRepairHistAdmStatusLst" resultType="EquipRepairHistAdmVo">
		<![CDATA[
		{
			call sp_em_equipRepairHistAdmStatusLst(
				#{repairCd},
				#{useYn},
				#{startDate},
				#{endDate}
			)
		}
		]]>
	</select>
	
	<!-- 검교정 조회 -->
	<select id="equipCalibrationLst" resultType="EquipRepairHistAdmVo">
		<![CDATA[
		{
			call sp_em_equipCalibrationLst(
				#{equipClass},
				#{selectYear}
			)
		}
		]]>
	</select>
	
	<!-- 검교정 상세리스트 -->
	<select id="equipCalibrationDtlLst" resultType="EquipRepairHistAdmVo">
		<![CDATA[
		{
			call sp_em_equipCalibrationDtlLst(
				'year',
				#{equipIdx},
				#{selectYear},
				#{selectMon}
			)
		}
		]]>
	</select>
	
	<!-- 검교정 상세리스트 (월별 점 클릭시) -->
	<select id="equipCalibrationDtlLst2" resultType="EquipRepairHistAdmVo">
		<![CDATA[
		{
			call sp_em_equipCalibrationDtlLst(
				'month',
				#{equipIdx},
				#{selectYear},
				#{selectMon}
			)
		}
		]]>
	</select>
	
	<!-- 검교정 상세리스트 (월별 점 클릭시) -->
	<select id="equipCalibrationDtlLst3" resultType="EquipRepairHistAdmVo">
		<![CDATA[
		{
			call sp_em_equipCalibrationDtlLst(
				'month2',
				#{equipIdx},
				#{selectYear},
				#{selectMon}
			)
		}
		]]>
	</select>
	
	<!-- 검교정 상세조회 -->
	<select id="equipCalibrationSel" resultType="EquipRepairHistAdmVo">
		<![CDATA[
		{
			call sp_em_equipCalibrationSel(
				#{idx}
			)
		}
		]]>
	</select>
	
	<!-- 검교정 등록 -->
	<insert id="equipCalibrationInsert" parameterType="EquipRepairHistAdmVo">
		<![CDATA[
		{
			call sp_em_equipCalibrateionIUD(
				'insert',
				#{idx},
				#{equipIdx},
				#{calibrationDate},
				#{nextCalibrationDate},
				#{calibrationContent},
				#{exIdx},
				#{nextCalibrationCompleteYn},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</insert>
	
	<!-- 검교정 수정 -->
	<update id="equipCalibrationUpdate"	parameterType="EquipRepairHistAdmVo">
		<![CDATA[
		{
			call sp_em_equipCalibrateionIUD(
				'update',
				#{idx},
				#{equipIdx},
				#{calibrationDate},
				#{nextCalibrationDate},
				#{calibrationContent},
				#{exIdx},
				#{nextCalibrationCompleteYn},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</update>
	
	<!-- 이전 검교정 갱신 -->
	<update id="equipCalibrationExUpdate"	parameterType="EquipRepairHistAdmVo">
		<![CDATA[
		{
			call sp_em_equipCalibrateionIUD(
				'exUpdate',
				#{idx},
				#{equipIdx},
				#{calibrationDate},
				#{nextCalibrationDate},
				#{calibrationContent},
				#{exIdx},
				#{nextCalibrationCompleteYn},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</update>
	
	<!-- 검교정 삭제 -->
	<delete id="equipCalibrationDelete" parameterType="EquipRepairHistAdmVo">
		<![CDATA[
		{
			call sp_em_equipCalibrateionIUD(
				'delete',
				#{idx},
				#{equipIdx},
				#{calibrationDate},
				#{nextCalibrationDate},
				#{calibrationContent},
				#{exIdx},
				#{nextCalibrationCompleteYn},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</delete>
</mapper>
