<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.sm.approvalAuthAdmMapper">

<resultMap id="ApprovalAuthAdmVo" type="mes.domain.sm.ApprovalAuthAdmVo">
	<result property="apprCd"				column="APPR_CD"			/>	<!-- 승인코드 -->
	<result property="apprNm"				column="APPR_NM"			/>	<!-- 승인명 -->
	<result property="userId"				column="USER_ID"			/>	<!-- 사용자ID -->
	<result property="userName"				column="USER_NAME"			/>	<!-- 사용자명 -->
	<result property="regId"				column="REG_ID"				/>	<!-- 등록ID -->
	<result property="regDate"				column="REG_DATE"			/>	<!-- 등록일 -->
	<result property="updId"				column="UPD_ID"				/>	<!-- 수정ID -->
	<result property="updDate"				column="UPD_DATE"			/>	<!-- 수정날짜 -->
	<result property="apprDesc"				column="APPR_DESC"			/>	<!-- 매뉴패스-->
	
	<!-- 추가항목 -->
	<result property="userPositionCd"		column="USER_POSITION_CD"	/>	<!-- 직위ID -->
	<result property="userPositionNm"		column="USER_POSITION_NM"	/>	<!-- 직위명 -->
	<result property="userDesc"				column="USER_DESC"			/>	<!-- 비고 -->
	<result property="userDepartmentCd"		column="USER_DEPARTMENT_CD"	/>	<!-- 부서ID -->
	<result property="userDepartmentNm"		column="USER_DEPARTMENT_NM"	/>	<!-- 부서명 -->
	<result property="userStateNm"			column="USER_STATE_NM"		/>
			
</resultMap>

	<!-- 승인관리 목록조회 -->
	<select id="approvalAuthAdmList" resultMap="ApprovalAuthAdmVo">
		SELECT
			A.APPR_CD
			, B.USER_ID
			, B.USER_NAME
			, B.USER_POSITION_CD
			, (SELECT COMMON_NM FROM TB_COMMON_CODE_DTL C WHERE C.COMMON_CODE_ADM_IDX='10' AND C.COMMON_CD = B.USER_POSITION_CD) USER_POSITION_NM
			, B.USER_DEPARTMENT_CD
			, (SELECT COMMON_NM FROM TB_COMMON_CODE_DTL C WHERE C.COMMON_CODE_ADM_IDX='8' AND C.COMMON_CD = B.USER_DEPARTMENT_CD) USER_DEPARTMENT_NM
			, (SELECT COMMON_NM FROM TB_COMMON_CODE_DTL C WHERE C.COMMON_CODE_ADM_IDX='7' AND C.COMMON_CD = B.USER_STATE_CD) USER_STATE_NM
		FROM  TB_APPROVAL_AUTH_ADM A, TB_USER B
		WHERE 1=1
		AND A.USER_ID = B.USER_ID
		AND A.APPR_DESC = #{apprDesc}
		<if test="userId != null">
		AND	A.USER_ID = #{userId}
		</if>
	</select>
	
	<!-- 승인관리 등록 -->
	<insert id="approvalAuthAdmCreate">
		<![CDATA[
			INSERT INTO TB_APPROVAL_AUTH_ADM
			(APPR_CD
			, USER_ID
			, APPR_DESC
			, REG_ID
			, REG_DATE
			, UPD_ID
			, UPD_DATE ) 
			VALUES(
				#{apprCd}
				, #{userId}
				, #{apprDesc}
				, #{regId}
				, getDate()
				, #{updId}
				, #{updDate} )
		]]>
	</insert>
	
	<!-- 승인관리 삭제 -->
	<delete id="approvalAuthAdmDelete">
		<![CDATA[
			DELETE FROM TB_APPROVAL_AUTH_ADM WHERE USER_ID = #{userId} AND APPR_CD = #{apprCd}
		]]>
	</delete>
	
</mapper>
