<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.sm.workplaceMapper">
	
	<!-- 사업장관리 목록조회 -->
	<select id="workplaceLst" resultType="WorkplaceVo">
		<![CDATA[
		{
			call sp_sm_workplaceLst(
				#{useYnCd}
			)
		}
		]]>
	</select>
	
	<!-- 사업장 상세조회 -->
	<select id="workplaceSel" resultType="WorkplaceVo">
		<![CDATA[
		{
			call sp_sm_workplaceSel(
				#{idx}
			)	
		}
		]]>
	</select>
	
	<!-- 사업장관리 등록 -->
	<insert id="workplaceIns" parameterType="WorkplaceVo">
		<![CDATA[
		{
			call sp_sm_workplaceIUD(
				'insert',
				#{idx},
				#{mainYn},
				#{useYnCd},
				#{workplaceGubun},
				#{workplaceCd},
				#{workplaceNm},
				#{workplaceAddress},
				#{postNumber},
				#{phoneNumber},
				#{workplaceNumber},
				#{ceoNm},
				#{businessConditions},
				#{businessItem},
				#{faxNumber},
				#{workplaceDesc},
				#{emailAddress},
				#{etc1},
				#{etc2},
				#{etc3},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</insert>
	
	<!-- 사업장관리 수정 -->
	<update id="workplaceUpd" parameterType="WorkplaceVo">
		<![CDATA[
		{
			call sp_sm_workplaceIUD(
				'update',
				#{idx},
				#{mainYn},
				#{useYnCd},
				#{workplaceGubun},
				#{workplaceCd},
				#{workplaceNm},
				#{workplaceAddress},
				#{postNumber},
				#{phoneNumber},
				#{workplaceNumber},
				#{ceoNm},
				#{businessConditions},
				#{businessItem},
				#{faxNumber},
				#{workplaceDesc},
				#{emailAddress},
				#{etc1},
				#{etc2},
				#{etc3},
				#{regIdx},
				#{regDate},
				#{updIdx},
				#{updDate}
			)
		}
		]]>
	</update>
	
	<!-- 사업장 코드 중복확인 -->
	<select id="workplaceIdDupCheck" resultType="WorkplaceVo">
		<![CDATA[
		{
			call sp_sm_workplaceIdDupCheck(
				#{idx},
				#{workplaceCd}
			)
		}
		]]>
	</select>
</mapper>
